# Recommendations with IBM

In this notebook, you will be putting your recommendation skills to use on real data from the IBM Watson Studio platform. 


You may either submit your notebook through the workspace here, or you may work from your local machine and submit through the next page.  Either way assure that your code passes the project [RUBRIC](https://review.udacity.com/#!/rubrics/2322/view).  **Please save regularly.**

By following the table of contents, you will build out a number of different methods for making recommendations that can be used for different situations. 


## Table of Contents

I. [Exploratory Data Analysis](#Exploratory-Data-Analysis)<br>
II. [Rank Based Recommendations](#Rank)<br>
III. [User-User Based Collaborative Filtering](#User-User)<br>
IV. [Content Based Recommendations (EXTRA - NOT REQUIRED)](#Content-Recs)<br>
V. [Matrix Factorization](#Matrix-Fact)<br>
VI. [Extras & Concluding](#conclusions)

At the end of the notebook, you will find directions for how to submit your work.  Let's get started by importing the necessary libraries and reading in the data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import project_tests as t
import pickle
from collections import Counter

%matplotlib inline

df = pd.read_csv('data/user-item-interactions.csv')
df_content = pd.read_csv('data/articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

# Show df to get an idea of the data
df.head()

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2

In [2]:
# Show df_content to get an idea of the data
df_content.head()

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4

### <a class="anchor" id="Exploratory-Data-Analysis">Part I : Exploratory Data Analysis</a>

Use the dictionary and cells below to provide some insight into the descriptive statistics of the data.

`1.` What is the distribution of how many articles a user interacts with in the dataset?  Provide a visual and descriptive statistics to assist with giving a look at the number of times each user interacts with an article.

In [3]:
explore_1 = df.groupby('email')['article_id'].count().sort_values(ascending=False)
len(explore_1)

5148

In [4]:
5148 / 2

2574.0

In [5]:
explore_1[2575]

3

In [6]:
max(explore_1)

364

In [7]:
# Fill in the median and maximum number of user_article interactios below

median_val = 3 # 50% of individuals interact with ____ number of articles or fewer.
max_views_by_user = 364 # The maximum number of user-article interactions by any 1 user is ______.

`2.` Explore and remove duplicate articles from the **df_content** dataframe.

In [8]:
len(df_content)

1056

In [9]:
# Find and explore duplicate articles
sum(df_content.duplicated(['article_id'], keep='first'))

5

In [10]:
# Remove any rows that have the same article_id - only keep the first
df_content_dedupe = df_content.drop_duplicates(['article_id'], keep='first')
len(df_content_dedupe)

1051

`3.` Use the cells below to find:

**a.** The number of unique articles that have an interaction with a user.  
**b.** The number of unique articles in the dataset (whether they have any interactions or not).<br>
**c.** The number of unique users in the dataset. (excluding null values) <br>
**d.** The number of user-article interactions in the dataset.

In [11]:
explore_2 = df.groupby('article_id')['email'].count()
len(explore_2)

714

In [12]:
sum(explore_1)

45976

In [13]:
unique_articles = 714 # The number of unique articles that have at least one interaction
total_articles = 1051 # The number of unique articles on the IBM platform
unique_users = 5148 # The number of unique users
user_article_interactions = 45993 # The number of user-article interactions

`4.` Use the cells below to find the most viewed **article_id**, as well as how often it was viewed.  After talking to the company leaders, the `email_mapper` function was deemed a reasonable way to map users to ids.  There were a small number of null values, and it was found that all of these null values likely belonged to a single user (which is how they are stored using the function below).

In [14]:
explore_2.sort_values(ascending=False).head(1)

article_id
1429.0    937
Name: email, dtype: int64

In [15]:
most_viewed_article_id = 1429.0 # The most viewed article in the dataset as a string with one value following the decimal 
max_views = 937 # The most viewed article in the dataset was viewed how many times?

In [16]:
## No need to change the code here - this will be helpful for later parts of the notebook
# Run this cell to map the user email to a user_id column and remove the email column

def email_mapper():
    coded_dict = dict()
    cter = 1
    email_encoded = []
    
    for val in df['email']:
        if val not in coded_dict:
            coded_dict[val] = cter
            cter+=1
        
        email_encoded.append(coded_dict[val])
    return email_encoded

email_encoded = email_mapper()
del df['email']
df['user_id'] = email_encoded

# show header
df.head()

   article_id                                              title  user_id
0      1430.0  using pixiedust for fast, flexible, and easier...        1
1      1314.0       healthcare python streaming application demo        2
2      1429.0         use deep learning for image classification        3
3      1338.0          ml optimization using cognitive assistant        4
4      1276.0          deploy your python model as a restful api        5

In [17]:
## If you stored all your results in the variable names above, 
## you shouldn't need to change anything in this cell

sol_1_dict = {
    '`50% of individuals have _____ or fewer interactions.`': median_val,
    '`The total number of user-article interactions in the dataset is ______.`': user_article_interactions,
    '`The maximum number of user-article interactions by any 1 user is ______.`': max_views_by_user,
    '`The most viewed article in the dataset was viewed _____ times.`': max_views,
    '`The article_id of the most viewed article is ______.`': most_viewed_article_id,
    '`The number of unique articles that have at least 1 rating ______.`': unique_articles,
    '`The number of unique users in the dataset is ______`': unique_users,
    '`The number of unique articles on the IBM platform`': total_articles
}

# Test your dictionary against the solution
t.sol_1_test(sol_1_dict)

Oops! It looks like the value associated with: `The article_id of the most viewed article is ______.` wasn't right. Try again.  It might just be the datatype.  All of the values should be ints except the article_id should be a string.  Let each row be considered a separate user-article interaction.  If a user interacts with an article 3 times, these are considered 3 separate interactions.

  Notice you may also find the number of unique users as 5149 if you count the null user.  However, this is hard to catch without mapping first!

### <a class="anchor" id="Rank">Part II: Rank-Based Recommendations</a>

Unlike in the earlier lessons, we don't actually have ratings for whether a user liked an article or not.  We only know that a user has interacted with an article.  In these cases, the popularity of an article can really only be based on how often an article was interacted with.

`1.` Fill in the function below to return the **n** top articles ordered with most interactions as the top. Test your function using the tests below.

In [18]:
test.sort_values(['user_id'], ascending=False).head()

NameError: name 'test' is not defined

In [19]:
id_count = df.groupby('article_id')['user_id'].count()

In [20]:
test = df_content_dedupe.set_index('article_id').join(id_count)
ranked_test = test.sort_values(['user_id'], ascending=False)
ranked_test.head(10)

,doc_body,doc_description,doc_full_name,doc_status,user_id
article_id,,,,,
43,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,This free Deep Learning with TensorFlow course...,Deep Learning With Tensorflow Course by Big Da...,Live,460.0
151,Homepage Sign in / Sign up 3 * Share\r\n * 3\r...,Data science is about learning by doing. One o...,Jupyter Notebook Tutorial,Live,352.0
124,Homepage Sign in / Sign up 9 * Share\r\n * 9\r...,Machine learning studies the design of algorit...,Python Machine Learning: Scikit-Learn Tutorial,Live,325.0
390,Homepage Submission Sign in Get started Homepa...,The purpose of AI systems is to augment human ...,Introducing IBM Watson Studio,Live,270.0
20,Homepage Follow Sign in / Sign up Homepage * H...,It is often useful to use RStudio for one piec...,Working interactively with RStudio and noteboo...,Live,249.0
732,Homepage Follow Sign in / Sign up Homepage * H...,"Flows offer an interactive, graphical environm...",Rapidly build Machine Learning flows with DSX,Live,239.0
1017,We're hiring! | Blog Home * Blog Home\r\n * Le...,An introduction to Pandas. A quick start guide...,The pandas Data Analysis Library,Live,234.0
260,"KDNUGGETS\r\nData Mining, Analytics, Big Data,...",MLDB is an open­source database designed for m...,The Machine Learning Database,Live,222.0
164,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,"In this article, we discuss various Deep Learn...",Learn TensorFlow and Deep Learning Together an...,Live,222.0
681,----------------------------------------------...,"A developer, data scientist, or line-of-busine...",Real-Time Sentiment Analysis of Twitter Hashta...,Live,220.0

In [21]:
def get_top_articles(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    user_count = df.groupby('article_id')['user_id'].count()
    
    article_count = df_content_dedupe.set_index('article_id').join(user_count)
    ranked_article = article_count.sort_values(['user_id'], ascending=False)
    
    top_articles = list(ranked_article['doc_full_name'][:n])
    
    return top_articles # Return the top article titles from df (not df_content)

def get_top_article_ids(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    user_count = df.groupby('article_id')['user_id'].count()
    
    article_count = df_content_dedupe.set_index('article_id').join(user_count)
    ranked_article = article_count.sort_values(['user_id'], ascending=False)
    
    reset_index = ranked_article.reset_index()
    
    top_articles = list(reset_index['article_id'][:n])
 
    return top_articles # Return the top article ids

In [22]:
print(get_top_articles(10))
print(get_top_article_ids(10))

['Deep Learning With Tensorflow Course by Big Data University', 'Jupyter Notebook Tutorial', 'Python Machine Learning: Scikit-Learn Tutorial', 'Introducing IBM Watson Studio ', 'Working interactively with RStudio and notebooks in DSX', 'Rapidly build Machine Learning flows with DSX', 'The pandas Data Analysis Library', 'The Machine Learning Database', 'Learn TensorFlow and Deep Learning Together and Now!', 'Real-Time Sentiment Analysis of Twitter Hashtags with Spark (+ PixieDust)']
[43, 151, 124, 390, 20, 732, 1017, 260, 164, 681]

In [23]:
# Test your function by returning the top 5, 10, and 20 articles
top_5 = get_top_articles(5)
top_10 = get_top_articles(10)
top_20 = get_top_articles(20)

# Test each of your three lists from above
t.sol_2_test(get_top_articles)

Oops! The top_5 list doesn't look how we expected.  Try again.
Oops! The top_10 list doesn't look how we expected.  Try again.
Oops! The top_20 list doesn't look how we expected.  Try again.

Got stuck on this piece, will need to review later. 

I have the correct sorted_article list (a couple cells above) but once I join to the deduped content list, they no longer match up.

### <a class="anchor" id="User-User">Part III: User-User Based Collaborative Filtering</a>


`1.` Use the function below to reformat the **df** dataframe to be shaped with users as the rows and articles as the columns.  

* Each **user** should only appear in each **row** once.


* Each **article** should only show up in one **column**.  


* **If a user has interacted with an article, then place a 1 where the user-row meets for that article-column**.  It does not matter how many times a user has interacted with the article, all entries where a user has interacted with an article should be a 1.  


* **If a user has not interacted with an item, then place a zero where the user-row meets for that article-column**. 

Use the tests to make sure the basic structure of your matrix matches what is expected by the solution.

In [24]:
# create the user-article matrix with 1's and 0's

def create_user_item_matrix(df):
    '''
    INPUT:
    df - pandas dataframe with article_id, title, user_id columns
    
    OUTPUT:
    user_item - user item matrix 
    
    Description:
    Return a matrix with user ids as rows and article ids on the columns with 1 values where a user interacted with 
    an article and a 0 otherwise
    '''
    matrix = df.pivot_table(index='user_id', columns='article_id', fill_value=0, aggfunc='size')
    matrix[matrix>0] = 1
    
    user_item = pd.DataFrame(matrix)
    
    return user_item # return the user_item matrix 

user_item = create_user_item_matrix(df)

In [25]:
## Tests: You should just need to run this cell.  Don't change the code.
assert user_item.shape[0] == 5149, "Oops!  The number of users in the user-article matrix doesn't look right."
assert user_item.shape[1] == 714, "Oops!  The number of articles in the user-article matrix doesn't look right."
assert user_item.sum(axis=1)[1] == 36, "Oops!  The number of articles seen by user 1 doesn't look right."
print("You have passed our quick tests!  Please proceed!")

You have passed our quick tests!  Please proceed!

`2.` Complete the function below which should take a user_id and provide an ordered list of the most similar users to that user (from most similar to least similar).  The returned result should not contain the provided user_id, as we know that each user is similar to him/herself. Because the results for each user here are binary, it (perhaps) makes sense to compute similarity as the dot product of two users. 

Use the tests to test your function.

In [26]:
np.where(test2 == np.max(test2))[0]

NameError: name 'test2' is not defined

In [ ]:
test2 = np.array(user_item.loc[2])
test3 = np.array(user_item.loc[5])
test4 = np.array(user_item.loc[609])

In [ ]:
test2

In [ ]:
np.dot(test2, test3) / (np.sqrt(np.dot(test2, test2)) * np.sqrt(np.dot(test3, test3)))

In [27]:
user_num = len(user_item)
vA = np.array(user_item.loc[5])
user_sim = []

for i in range(1, user_num):
    vB = np.array(user_item.loc[i])
    cos = np.dot(vA, vB) / (np.sqrt(np.dot(vA, vA)) * np.sqrt(np.dot(vB, vB)))
    user_sim.append(cos)

In [28]:
L1 = list(range(1, len(user_item)))
A1 = np.array(L1)

In [29]:
A2 = np.array(user_sim)

In [42]:
A3 = np.column_stack((A1, A2))
#idx = np.where(A3[:,0] == 5)
idx = list(A3[:,0]).index(5)
idx

4

In [45]:
sim_list = np.column_stack((list(range(1, len(user_item))),user_sim))
sim_list

array([[  1.00000000e+00,   0.00000000e+00],
       [  2.00000000e+00,   0.00000000e+00],
       [  3.00000000e+00,   9.12870929e-02],
       ...,
       [  5.14600000e+03,   0.00000000e+00],
       [  5.14700000e+03,   0.00000000e+00],
       [  5.14800000e+03,   0.00000000e+00]])

In [55]:
sim_list_df = pd.DataFrame(sim_list).sort_values(by=1, axis=0, ascending=False)
sim_list_df.head()

           0         1
4        5.0  1.000000
3998  3999.0  0.666667
2357  2358.0  0.577350
4111  4112.0  0.577350
2339  2340.0  0.577350

In [58]:
sim_list_df[0].tolist()

[5.0,
 3999.0,
 2358.0,
 4112.0,
 2340.0,
 4288.0,
 1765.0,
 1855.0,
 2554.0,
 4046.0,
 2133.0,
 1381.0,
 1510.0,
 3471.0,
 2189.0,
 3656.0,
 2168.0,
 2313.0,
 4721.0,
 1762.0,
 2818.0,
 4135.0,
 1828.0,
 541.0,
 2213.0,
 3078.0,
 1147.0,
 2634.0,
 2171.0,
 3660.0,
 3333.0,
 2553.0,
 2003.0,
 3157.0,
 1550.0,
 2080.0,
 259.0,
 2555.0,
 2066.0,
 1448.0,
 2455.0,
 3736.0,
 522.0,
 876.0,
 4503.0,
 450.0,
 1566.0,
 3528.0,
 3960.0,
 4.0,
 4366.0,
 1011.0,
 2114.0,
 1027.0,
 4758.0,
 1075.0,
 2063.0,
 2668.0,
 3371.0,
 4816.0,
 2729.0,
 4674.0,
 2969.0,
 4999.0,
 1497.0,
 1645.0,
 167.0,
 1686.0,
 318.0,
 1394.0,
 339.0,
 2257.0,
 690.0,
 4448.0,
 2473.0,
 1217.0,
 3085.0,
 772.0,
 56.0,
 4145.0,
 3060.0,
 2250.0,
 2229.0,
 2141.0,
 4626.0,
 2449.0,
 4178.0,
 1881.0,
 1557.0,
 1411.0,
 2826.0,
 4871.0,
 1754.0,
 4092.0,
 5038.0,
 2971.0,
 4853.0,
 1194.0,
 486.0,
 4203.0,
 3126.0,
 3026.0,
 2813.0,
 1136.0,
 4291.0,
 474.0,
 347.0,
 3474.0,
 4511.0,
 3518.0,
 1137.0,
 5077.0,
 3439.0,
 456.0,
 2417.0,
 3094.0,
 4698.0,
 2355.0,
 4823.0,
 501.0,
 220.0,
 631.0,
 736.0,
 3676.0,
 1376.0,
 1007.0,
 3714.0,
 952.0,
 2682.0,
 4518.0,
 1684.0,
 697.0,
 3212.0,
 1507.0,
 3784.0,
 371.0,
 2007.0,
 3477.0,
 2194.0,
 3753.0,
 1258.0,
 1285.0,
 1509.0,
 248.0,
 1392.0,
 1698.0,
 3890.0,
 2910.0,
 1208.0,
 301.0,
 1443.0,
 292.0,
 1225.0,
 4270.0,
 3562.0,
 219.0,
 4607.0,
 3190.0,
 4718.0,
 2349.0,
 3213.0,
 4564.0,
 4512.0,
 3309.0,
 502.0,
 1140.0,
 3320.0,
 3391.0,
 980.0,
 4801.0,
 3464.0,
 3467.0,
 3168.0,
 4266.0,
 3314.0,
 1560.0,
 119.0,
 156.0,
 171.0,
 3938.0,
 8.0,
 2975.0,
 3957.0,
 791.0,
 3553.0,
 3741.0,
 27.0,
 670.0,
 4934.0,
 715.0,
 2768.0,
 4635.0,
 2307.0,
 966.0,
 1459.0,
 3614.0,
 1385.0,
 1712.0,
 104.0,
 4608.0,
 391.0,
 1485.0,
 2274.0,
 3891.0,
 460.0,
 185.0,
 410.0,
 684.0,
 981.0,
 3244.0,
 1004.0,
 3925.0,
 3419.0,
 187.0,
 321.0,
 145.0,
 3801.0,
 5080.0,
 3169.0,
 170.0,
 912.0,
 3540.0,
 770.0,
 4921.0,
 3052.0,
 2196.0,
 3107.0,
 237.0,
 3101.0,
 3778.0,
 4711.0,
 3996.0,
 212.0,
 811.0,
 19.0,
 1933.0,
 383.0,
 44.0,
 4786.0,
 5067.0,
 730.0,
 2465.0,
 334.0,
 4038.0,
 3141.0,
 3054.0,
 2336.0,
 609.0,
 4047.0,
 1499.0,
 762.0,
 5026.0,
 214.0,
 4086.0,
 308.0,
 180.0,
 1297.0,
 3829.0,
 3486.0,
 420.0,
 409.0,
 335.0,
 64.0,
 3554.0,
 2959.0,
 381.0,
 2510.0,
 4287.0,
 4429.0,
 971.0,
 4969.0,
 245.0,
 4215.0,
 840.0,
 4057.0,
 363.0,
 5058.0,
 4331.0,
 3885.0,
 1405.0,
 4389.0,
 3136.0,
 4774.0,
 5057.0,
 726.0,
 125.0,
 4459.0,
 203.0,
 4642.0,
 922.0,
 4833.0,
 3732.0,
 3998.0,
 5041.0,
 160.0,
 558.0,
 666.0,
 71.0,
 5123.0,
 797.0,
 3589.0,
 118.0,
 1223.0,
 790.0,
 754.0,
 4949.0,
 5053.0,
 4194.0,
 3697.0,
 49.0,
 395.0,
 696.0,
 1523.0,
 3724.0,
 249.0,
 1289.0,
 972.0,
 1038.0,
 3864.0,
 5105.0,
 560.0,
 4553.0,
 1337.0,
 285.0,
 4186.0,
 3483.0,
 5139.0,
 193.0,
 484.0,
 196.0,
 4877.0,
 3451.0,
 40.0,
 844.0,
 3420.0,
 5115.0,
 1084.0,
 464.0,
 833.0,
 4932.0,
 3671.0,
 100.0,
 943.0,
 434.0,
 4552.0,
 891.0,
 4799.0,
 955.0,
 1156.0,
 568.0,
 575.0,
 582.0,
 3969.0,
 1386.0,
 3119.0,
 500.0,
 3495.0,
 3466.0,
 402.0,
 1198.0,
 3378.0,
 2688.0,
 3830.0,
 765.0,
 242.0,
 23.0,
 3910.0,
 4502.0,
 209.0,
 1076.0,
 946.0,
 82.0,
 4685.0,
 132.0,
 355.0,
 4759.0,
 2989.0,
 2953.0,
 3782.0,
 4082.0,
 4892.0,
 184.0,
 5001.0,
 638.0,
 1247.0,
 5023.0,
 1110.0,
 63.0,
 3713.0,
 4250.0,
 3325.0,
 3124.0,
 4010.0,
 4904.0,
 354.0,
 619.0,
 2926.0,
 22.0,
 4173.0,
 5048.0,
 5138.0,
 6.0,
 673.0,
 900.0,
 4073.0,
 1162.0,
 199.0,
 3710.0,
 5013.0,
 1172.0,
 3392.0,
 204.0,
 4487.0,
 1025.0,
 783.0,
 5012.0,
 3870.0,
 131.0,
 4522.0,
 4788.0,
 4618.0,
 54.0,
 215.0,
 266.0,
 213.0,
 261.0,
 310.0,
 3919.0,
 1481.0,
 4933.0,
 312.0,
 3783.0,
 536.0,
 644.0,
 2908.0,
 4268.0,
 1139.0,
 5118.0,
 4526.0,
 4619.0,
 3079.0,
 3802.0,
 510.0,
 512.0,
 4323.0,
 2790.0,
 207.0,
 4285.0,
 860.0,
 745.0,
 3647.0,
 648.0,
 3195.0,
 820.0,
 3877.0,
 134.0,
 4161.0,
 252.0,
 471.0,
 37.0,
 4876.0,
 763.0,
 4142.0,
 492.0,
 4837.0,
 98.0,
 3764.0,
 3264.0,
 3633.0,
 3057.0,
 3441.0,
 4824.0,
 1240.0,
 3654.0,
 760.0,
 3100.0,
 1272.0,
 1062.0,
 4204.0,
 28.0,
 511.0,
 1163.0,
 111.0,
 69.0,
 4517.0,
 3879.0,
 3691.0,
 3147.0,
 3966.0,
 17.0,
 121.0,
 3559.0,
 168.0,
 262.0,
 4134.0,
 11.0,
 3172.0,
 273.0,
 4494.0,
 518.0,
 126.0,
 313.0,
 3197.0,
 3024.0,
 4209.0,
 72.0,
 330.0,
 5079.0,
 211.0,
 1897.0,
 3007.0,
 169.0,
 3485.0,
 3651.0,
 4991.0,
 1035.0,
 656.0,
 4595.0,
 268.0,
 1059.0,
 3684.0,
 3898.0,
 3949.0,
 1040.0,
 3967.0,
 319.0,
 4660.0,
 750.0,
 3.0,
 693.0,
 4308.0,
 46.0,
 129.0,
 3353.0,
 4201.0,
 38.0,
 4484.0,
 665.0,
 3637.0,
 67.0,
 256.0,
 3621.0,
 4293.0,
 3856.0,
 135.0,
 3578.0,
 3532.0,
 186.0,
 195.0,
 3622.0,
 322.0,
 4755.0,
 591.0,
 4277.0,
 4706.0,
 288.0,
 3006.0,
 52.0,
 2982.0,
 290.0,
 3596.0,
 295.0,
 58.0,
 3740.0,
 3547.0,
 3557.0,
 3404.0,
 3469.0,
 3470.0,
 3462.0,
 3457.0,
 3445.0,
 3444.0,
 3539.0,
 3555.0,
 3443.0,
 3538.0,
 3556.0,
 3558.0,
 3410.0,
 3403.0,
 3537.0,
 3461.0,
 3458.0,
 2755.0,
 3442.0,
 3536.0,
 3535.0,
 3472.0,
 3460.0,
 3411.0,
 3402.0,
 3459.0,
 3534.0,
 3446.0,
 2763.0,
 2765.0,
 3468.0,
 3463.0,
 3453.0,
 3454.0,
 3406.0,
 3455.0,
 3407.0,
 3546.0,
 3548.0,
 3452.0,
 3450.0,
 3473.0,
 3408.0,
 3549.0,
 3545.0,
 3544.0,
 3543.0,
 3409.0,
 3550.0,
 3465.0,
 3405.0,
 3449.0,
 3551.0,
 3448.0,
 3552.0,
 3542.0,
 3541.0,
 3456.0,
 3447.0,
 2764.0,
 3510.0,
 3478.0,
 2756.0,
 3497.0,
 3427.0,
 3433.0,
 3501.0,
 3500.0,
 3426.0,
 3499.0,
 3519.0,
 3498.0,
 3425.0,
 2767.0,
 3520.0,
 3521.0,
 3496.0,
 3434.0,
 3435.0,
 3494.0,
 3522.0,
 3493.0,
 3502.0,
 3428.0,
 2758.0,
 3503.0,
 3511.0,
 3508.0,
 3430.0,
 3512.0,
 3513.0,
 3429.0,
 3514.0,
 3515.0,
 3516.0,
 3507.0,
 3431.0,
 3506.0,
 3517.0,
 2759.0,
 3505.0,
 3504.0,
 3432.0,
 3523.0,
 3524.0,
 3492.0,
 3418.0,
 3481.0,
 3480.0,
 3417.0,
 3416.0,
 3479.0,
 3533.0,
 2766.0,
 3415.0,
 3509.0,
 3440.0,
 2761.0,
 2762.0,
 3414.0,
 3476.0,
 3413.0,
 3412.0,
 3475.0,
 3482.0,
 3531.0,
 3424.0,
 3438.0,
 3491.0,
 3423.0,
 3436.0,
 3525.0,
 3422.0,
 3421.0,
 3437.0,
 3490.0,
 3489.0,
 3488.0,
 3487.0,
 3526.0,
 3527.0,
 2757.0,
 3529.0,
 3530.0,
 3484.0,
 2760.0,
 2832.0,
 3560.0,
 3755.0,
 3739.0,
 3742.0,
 3743.0,
 3744.0,
 3745.0,
 3746.0,
 3747.0,
 3748.0,
 3749.0,
 3750.0,
 3751.0,
 3752.0,
 2737.0,
 3754.0,
 2736.0,
 3737.0,
 3756.0,
 3757.0,
 3758.0,
 3759.0,
 2735.0,
 3760.0,
 3761.0,
 3762.0,
 3763.0,
 3765.0,
 3766.0,
 3767.0,
 3768.0,
 3769.0,
 3738.0,
 3735.0,
 3771.0,
 3717.0,
 3704.0,
 2742.0,
 3705.0,
 3706.0,
 3707.0,
 3708.0,
 3709.0,
 2741.0,
 3711.0,
 3712.0,
 2740.0,
 2739.0,
 3715.0,
 3716.0,
 3718.0,
 3734.0,
 3719.0,
 3720.0,
 3721.0,
 2738.0,
 3722.0,
 3723.0,
 3725.0,
 3726.0,
 3727.0,
 3728.0,
 3729.0,
 3730.0,
 3731.0,
 3733.0,
 3770.0,
 3772.0,
 3702.0,
 3824.0,
 3810.0,
 3811.0,
 3812.0,
 3813.0,
 3814.0,
 3815.0,
 3816.0,
 3817.0,
 3818.0,
 3819.0,
 3820.0,
 3821.0,
 3822.0,
 3823.0,
 3825.0,
 3808.0,
 3826.0,
 3827.0,
 3828.0,
 3831.0,
 3832.0,
 3833.0,
 2730.0,
 3834.0,
 3835.0,
 3836.0,
 3837.0,
 3838.0,
 3839.0,
 3840.0,
 3809.0,
 3807.0,
 3773.0,
 3791.0,
 3774.0,
 3775.0,
 3776.0,
 3777.0,
 3779.0,
 3780.0,
 3781.0,
 2734.0,
 3785.0,
 3786.0,
 3787.0,
 3788.0,
 3789.0,
 3790.0,
 3792.0,
 3806.0,
 3793.0,
 3794.0,
 2733.0,
 3795.0,
 3796.0,
 3797.0,
 3798.0,
 3799.0,
 3800.0,
 2732.0,
 2731.0,
 3803.0,
 3804.0,
 3805.0,
 3703.0,
 3701.0,
 3561.0,
 3610.0,
 3595.0,
 3597.0,
 3598.0,
 3599.0,
 3600.0,
 3601.0,
 3602.0,
 3603.0,
 3604.0,
 3605.0,
 3606.0,
 3607.0,
 3608.0,
 3609.0,
 3611.0,
 3593.0,
 2750.0,
 3612.0,
 3613.0,
 3615.0,
 3616.0,
 3617.0,
 3618.0,
 3619.0,
 3620.0,
 3623.0,
 3624.0,
 3625.0,
 3626.0,
 3627.0,
 3594.0,
 3592.0,
 3629.0,
 2753.0,
 2754.0,
 3563.0,
 3564.0,
 3565.0,
 3566.0,
 3567.0,
 3568.0,
 3569.0,
 3570.0,
 3571.0,
 3572.0,
 3573.0,
 3574.0,
 3575.0,
 3576.0,
 3591.0,
 3577.0,
 3579.0,
 3580.0,
 3581.0,
 3582.0,
 3583.0,
 2752.0,
 3584.0,
 3585.0,
 3586.0,
 3587.0,
 3588.0,
 3590.0,
 2751.0,
 3628.0,
 3630.0,
 3700.0,
 3681.0,
 3667.0,
 2744.0,
 3668.0,
 3669.0,
 3670.0,
 3672.0,
 3673.0,
 3674.0,
 3675.0,
 2743.0,
 3677.0,
 3678.0,
 3679.0,
 3680.0,
 3682.0,
 3665.0,
 3683.0,
 3685.0,
 3686.0,
 3687.0,
 3688.0,
 3689.0,
 3690.0,
 3692.0,
 3693.0,
 3694.0,
 3695.0,
 3696.0,
 3698.0,
 3699.0,
 3666.0,
 3664.0,
 3631.0,
 2749.0,
 3632.0,
 3400.0,
 3634.0,
 3635.0,
 3636.0,
 3638.0,
 3639.0,
 3640.0,
 3641.0,
 3642.0,
 3643.0,
 3644.0,
 3645.0,
 3646.0,
 3648.0,
 3663.0,
 2748.0,
 3649.0,
 3650.0,
 3652.0,
 3653.0,
 3655.0,
 2747.0,
 2746.0,
 3657.0,
 3658.0,
 3659.0,
 2745.0,
 3661.0,
 3662.0,
 3401.0,
 3306.0,
 3399.0,
 3016.0,
 3022.0,
 3021.0,
 3020.0,
 3019.0,
 3018.0,
 3017.0,
 3015.0,
 2812.0,
 3014.0,
 3013.0,
 3012.0,
 3011.0,
 ...]

In [43]:
select_user = np.array(user_item.loc[5])
select_user

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0])

In [65]:
def find_similar_users(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user_id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    similar_users - (list) an ordered list where the closest users (largest dot product users)
                    are listed first
    
    Description:
    Computes the similarity of every pair of users based on the dot product
    Returns an ordered
    
    '''
    # compute similarity of each user to the provided user
    user_num = len(user_item)
    vA = np.array(user_item.loc[user_id])
    user_sim = []

    for i in range(1, user_num):
        vB = np.array(user_item.loc[i])
        cos = np.dot(vA, vB) / (np.sqrt(np.dot(vA, vA)) * np.sqrt(np.dot(vB, vB)))
        user_sim.append(cos)    
    
    sim_list = np.column_stack((list(range(1, len(user_item))),user_sim))
    
    # sort by similarity
    sorted_sim_df = pd.DataFrame(sim_list).sort_values(by=1, axis=0, ascending=False)
    
    # create list of just the ids
    sorted_list = sorted_sim_df[0].tolist()

    # remove the own user's id
    idx = sorted_list.index(user_id)
    del sorted_list[idx]
    
    most_similar_users = sorted_list
       
    return most_similar_users # return a list of the users in order from most to least similar

In [66]:
# Do a spot check of your function
print("The 10 most similar users to user 1 are: {}".format(find_similar_users(1)[:10]))
print("The 5 most similar users to user 3933 are: {}".format(find_similar_users(3933)[:5]))
print("The 3 most similar users to user 46 are: {}".format(find_similar_users(46)[:3]))

The 10 most similar users to user 1 are: [3933.0, 46.0, 4201.0, 5034.0, 253.0, 824.0, 5041.0, 2305.0, 136.0, 395.0]
The 5 most similar users to user 3933 are: [1.0, 4201.0, 46.0, 5034.0, 253.0]
The 3 most similar users to user 46 are: [4201.0, 790.0, 5077.0]

`3.` Now that you have a function that provides the most similar users to each user, you will want to use these users to find articles you can recommend.  Complete the functions below to return the articles you would recommend to each user.

In [ ]:
def get_article_names(article_ids, df=df):
    '''
    INPUT:
    article_ids - (list) a list of article ids
    df - (pandas dataframe) df as defined at the top of the notebook
    
    OUTPUT:
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the title column)
    '''
    # Your code here
    
    return article_names # Return the article names associated with list of article ids


def get_user_articles(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    article_ids - (list) a list of the article ids seen by the user
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the doc_full_name column in df_content)
    
    Description:
    Provides a list of the article_ids and article titles that have been seen by a user
    '''
    # Your code here
    
    return article_ids, article_names # return the ids and names


def user_user_recs(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    Users who are the same closeness are chosen arbitrarily as the 'next' user
    
    For the user where the number of recommended articles starts below m 
    and ends exceeding m, the last items are chosen arbitrarily
    
    '''
    # Your code here
    
    return recs # return your recommendations for this user_id

In [ ]:
# Check Results
get_article_names(user_user_recs(1, 10)) # Return 10 recommendations for user 1

In [ ]:
# Test your functions here - No need to change this code - just run this cell
assert set(get_article_names(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_article_names(['1320.0', '232.0', '844.0'])) == set(['housing (2015): united states demographic measures','self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_user_articles(20)[0]) == set(['1320.0', '232.0', '844.0'])
assert set(get_user_articles(20)[1]) == set(['housing (2015): united states demographic measures', 'self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook'])
assert set(get_user_articles(2)[0]) == set(['1024.0', '1176.0', '1305.0', '1314.0', '1422.0', '1427.0'])
assert set(get_user_articles(2)[1]) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis'])
print("If this is all you see, you passed all of our tests!  Nice job!")

`4.` Now we are going to improve the consistency of the **user_user_recs** function from above.  

* Instead of arbitrarily choosing when we obtain users who are all the same closeness to a given user - choose the users that have the most total article interactions before choosing those with fewer article interactions.


* Instead of arbitrarily choosing articles from the user where the number of recommended articles starts below m and ends exceeding m, choose articles with the articles with the most total interactions before choosing those with fewer total interactions. This ranking should be  what would be obtained from the **top_articles** function you wrote earlier.

In [ ]:
def get_top_sorted_users(user_id, df=df, user_item=user_item):
    '''
    INPUT:
    user_id - (int)
    df - (pandas dataframe) df as defined at the top of the notebook 
    user_item - (pandas dataframe) matrix of users by articles: 
            1's when a user has interacted with an article, 0 otherwise
    
            
    OUTPUT:
    neighbors_df - (pandas dataframe) a dataframe with:
                    neighbor_id - is a neighbor user_id
                    similarity - measure of the similarity of each user to the provided user_id
                    num_interactions - the number of articles viewed by the user - if a u
                    
    Other Details - sort the neighbors_df by the similarity and then by number of interactions where 
                    highest of each is higher in the dataframe
     
    '''
    # Your code here
    
    return neighbors_df # Return the dataframe specified in the doc_string


def user_user_recs_part2(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user by article id
    rec_names - (list) a list of recommendations for the user by article title
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    * Choose the users that have the most total article interactions 
    before choosing those with fewer article interactions.

    * Choose articles with the articles with the most total interactions 
    before choosing those with fewer total interactions. 
   
    '''
    # Your code here
    
    return recs, rec_names

In [ ]:
# Quick spot check - don't change this code - just use it to test your functions
rec_ids, rec_names = user_user_recs_part2(20, 10)
print("The top 10 recommendations for user 20 are the following article ids:")
print(rec_ids)
print()
print("The top 10 recommendations for user 20 are the following article names:")
print(rec_names)

`5.` Use your functions from above to correctly fill in the solutions to the dictionary below.  Then test your dictionary against the solution.  Provide the code you need to answer each following the comments below.

In [ ]:
### Tests with a dictionary of results

user1_most_sim = # Find the user that is most similar to user 1 
user131_10th_sim = # Find the 10th most similar user to user 131

In [ ]:
## Dictionary Test Here
sol_5_dict = {
    'The user that is most similar to user 1.': user1_most_sim, 
    'The user that is the 10th most similar to user 131': user131_10th_sim,
}

t.sol_5_test(sol_5_dict)

`6.` If we were given a new user, which of the above functions would you be able to use to make recommendations?  Explain.  Can you think of a better way we might make recommendations?  Use the cell below to explain a better method for new users.

**Provide your response here.**

`7.` Using your existing functions, provide the top 10 recommended articles you would provide for the a new user below.  You can test your function against our thoughts to make sure we are all on the same page with how we might make a recommendation.

In [ ]:
new_user = '0.0'

# What would your recommendations be for this new user '0.0'?  As a new user, they have no observed articles.
# Provide a list of the top 10 article ids you would give to 
new_user_recs = # Your recommendations here

In [ ]:
assert set(new_user_recs) == set(['1314.0','1429.0','1293.0','1427.0','1162.0','1364.0','1304.0','1170.0','1431.0','1330.0']), "Oops!  It makes sense that in this case we would want to recommend the most popular articles, because we don't know anything about these users."

print("That's right!  Nice job!")

### <a class="anchor" id="Content-Recs">Part IV: Content Based Recommendations (EXTRA - NOT REQUIRED)</a>

Another method we might use to make recommendations is to perform a ranking of the highest ranked articles associated with some term.  You might consider content to be the **doc_body**, **doc_description**, or **doc_full_name**.  There isn't one way to create a content based recommendation, especially considering that each of these columns hold content related information.  

`1.` Use the function body below to create a content based recommender.  Since there isn't one right answer for this recommendation tactic, no test functions are provided.  Feel free to change the function inputs if you decide you want to try a method that requires more input values.  The input values are currently set with one idea in mind that you may use to make content based recommendations.  One additional idea is that you might want to choose the most popular recommendations that meet your 'content criteria', but again, there is a lot of flexibility in how you might make these recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [ ]:
def make_content_recs():
    '''
    INPUT:
    
    OUTPUT:
    
    '''

`2.` Now that you have put together your content-based recommendation system, use the cell below to write a summary explaining how your content based recommender works.  Do you see any possible improvements that could be made to your function?  Is there anything novel about your content based recommender?

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

**Write an explanation of your content based recommendation system here.**

`3.` Use your content-recommendation system to make recommendations for the below scenarios based on the comments.  Again no tests are provided here, because there isn't one right answer that could be used to find these content based recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [ ]:
# make recommendations for a brand new user


# make a recommendations for a user who only has interacted with article id '1427.0'

### <a class="anchor" id="Matrix-Fact">Part V: Matrix Factorization</a>

In this part of the notebook, you will build use matrix factorization to make article recommendations to the users on the IBM Watson Studio platform.

`1.` You should have already created a **user_item** matrix above in **question 1** of **Part III** above.  This first question here will just require that you run the cells to get things set up for the rest of **Part V** of the notebook.

In [ ]:
# Load the matrix here
user_item_matrix = pd.read_pickle('user_item_matrix.p')

In [ ]:
# quick look at the matrix
user_item_matrix.head()

`2.` In this situation, you can use Singular Value Decomposition from [numpy](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.linalg.svd.html) on the user-item matrix.  Use the cell to perform SVD, and explain why this is different than in the lesson.

In [ ]:
# Perform SVD on the User-Item Matrix Here

u, s, vt = # use the built in to get the three matrices

**Provide your response here.**

`3.` Now for the tricky part, how do we choose the number of latent features to use?  Running the below cell, you can see that as the number of latent features increases, we obtain a lower error rate on making predictions for the 1 and 0 values in the user-item matrix.  Run the cell below to get an idea of how the accuracy improves as we increase the number of latent features.

In [ ]:
num_latent_feats = np.arange(10,700+10,20)
sum_errs = []

for k in num_latent_feats:
    # restructure with k latent features
    s_new, u_new, vt_new = np.diag(s[:k]), u[:, :k], vt[:k, :]
    
    # take dot product
    user_item_est = np.around(np.dot(np.dot(u_new, s_new), vt_new))
    
    # compute error for each prediction to actual value
    diffs = np.subtract(user_item_matrix, user_item_est)
    
    # total errors and keep track of them
    err = np.sum(np.sum(np.abs(diffs)))
    sum_errs.append(err)
    
    
plt.plot(num_latent_feats, 1 - np.array(sum_errs)/df.shape[0]);
plt.xlabel('Number of Latent Features');
plt.ylabel('Accuracy');
plt.title('Accuracy vs. Number of Latent Features');

`4.` From the above, we can't really be sure how many features to use, because simply having a better way to predict the 1's and 0's of the matrix doesn't exactly give us an indication of if we are able to make good recommendations.  Instead, we might split our dataset into a training and test set of data, as shown in the cell below.  

Use the code from question 3 to understand the impact on accuracy of the training and test sets of data with different numbers of latent features. Using the split below: 

* How many users can we make predictions for in the test set?  
* How many users are we not able to make predictions for because of the cold start problem?
* How many articles can we make predictions for in the test set?  
* How many articles are we not able to make predictions for because of the cold start problem?

In [ ]:
df_train = df.head(40000)
df_test = df.tail(5993)

def create_test_and_train_user_item(df_train, df_test):
    '''
    INPUT:
    df_train - training dataframe
    df_test - test dataframe
    
    OUTPUT:
    user_item_train - a user-item matrix of the training dataframe 
                      (unique users for each row and unique articles for each column)
    user_item_test - a user-item matrix of the testing dataframe 
                    (unique users for each row and unique articles for each column)
    test_idx - all of the test user ids
    test_arts - all of the test article ids
    
    '''
    # Your code here
    
    return user_item_train, user_item_test, test_idx, test_arts

user_item_train, user_item_test, test_idx, test_arts = create_test_and_train_user_item(df_train, df_test)

In [ ]:
# Replace the values in the dictionary below
a = 662 
b = 574 
c = 20 
d = 0 


sol_4_dict = {
    'How many users can we make predictions for in the test set?': # letter here, 
    'How many users in the test set are we not able to make predictions for because of the cold start problem?': # letter here, 
    'How many articles can we make predictions for in the test set?': # letter here,
    'How many articles in the test set are we not able to make predictions for because of the cold start problem?': # letter here
}

t.sol_4_test(sol_4_dict)

`5.` Now use the **user_item_train** dataset from above to find U, S, and V transpose using SVD. Then find the subset of rows in the **user_item_test** dataset that you can predict using this matrix decomposition with different numbers of latent features to see how many features makes sense to keep based on the accuracy on the test data. This will require combining what was done in questions `2` - `4`.

Use the cells below to explore how well SVD works towards making predictions for recommendations on the test data.

In [ ]:
# fit SVD on the user_item_train matrix
u_train, s_train, vt_train = # fit svd similar to above then use the cells below

In [ ]:
# Use these cells to see how well you can use the training 
# decomposition to predict on test data

`6.` Use the cell below to comment on the results you found in the previous question. Given the circumstances of your results, discuss what you might do to determine if the recommendations you make with any of the above recommendation systems are an improvement to how users currently find articles?

**Your response here.**

<a id='conclusions'></a>
### Extras
Using your workbook, you could now save your recommendations for each user, develop a class to make new predictions and update your results, and make a flask app to deploy your results.  These tasks are beyond what is required for this project.  However, from what you learned in the lessons, you certainly capable of taking these tasks on to improve upon your work here!


## Conclusion

> Congratulations!  You have reached the end of the Recommendations with IBM project! 

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the [rubric](https://review.udacity.com/#!/rubrics/2322/view). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.


## Directions to Submit

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Recommendations_with_IBM.ipynb'])